<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Images</title>
    <link rel="stylesheet" href="/views/photostyle.css">
</head>
<body>
    <h1>
		show Images
	</h1>
    <div>
        <img src="img/sportscar.jpg">
    </div>
</body>
</html>