<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/views/style.css">
</head>
<body>
	<div class="navbar">
		<%if(loggedinUser == 'admin'){%>
            <a href="/adminPage">Admin</a>
        <%}else{ %>  
        <% } %>
        <a href="/userimages">Home</a>
        <a href="/userprofile">Profile</a>
        <a href="/uploadImages">Upload</a>
        <a href="/logout">Logout</a>
    </div>
	<h1>
		To Upload Image on mongoDB
	</h1>
	<form class="box" action="/" method="POST" enctype="multipart/form-data">
		<h1>Upload Picture</h1>
		<input type="text" name="name" value="" id="name" placeholder="Image Title" required>
		<input type="text" name="desc" value="" id="desc" placeholder="Description" required>
		<input type="file" name="image" value="" id="image" required class="btnPicture">
		<input type="submit" value="Submit">
	</form>
</body>

</html>
