<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in</title>
    <link rel="stylesheet" href="/views/userprofile.css">
</head>
<body>
    <div class="navbar">
        <a href="/userprofile">Home</a>
        <a href="/userimages">Profile</a>
        <a href="/uploadImages">Upload</a>
        <a href="/logout">Logout</a>
    </div>
    <h1>
        User Apps
    </h1>
    <p>
        <div>
        After Login the user will reach here.
        </div>
    </p>
    <div class="Home">
        <div class="Post">
            <div class="Image">
                <img src="https://i.ytimg.com/vi/DB2ux6Ca4UA/maxresdefault.jpg" alt="">
            </div>
            <div class="Content">
                <div class="title">A cool Titel / by @Elvir</div>
                <div class="description">Nur für de Rayen</div>
                
            </div>
        </div>
    </div>
</body>
</html>